html
{
  color: #111;
  background: #fff;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote
{
  margin: 0;
  padding: 0;
}

#top-banner
{
clear: both;
overflow: hidden;
background-color: #EDF4EC;
margin-bottom: 30px;
margin-top: -30px;
}
